Flask
gunicorn==19.7.1
psycopg2
flask_cors
pandas
pgvector
openai  
pandas  
numpy  
scikit-learn  
sentence-transformers  
transformers  
matplotlib  
seaborn  
tiktok-api  
lightgbm  
psycopg2-binary
plotly
sumy
